html{
    font-size: 1rem;
}

header {
    margin-bottom: 0.5rem;
}

nav ul {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
    background-color: whitesmoke;
    text-align: center;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    font-variant: small-caps;
}